@mq-xs-max: 767px;
@mq-sm-min: (@mq-xs-max+1px);
@mq-sm-max: 991px;
@mq-md-min: (@mq-sm-max+1px);
@mq-md-max: 1199px;
@mq-lg-min: (@mq-md-max+1px);

.fontRoboto{
	font-family: 'Roboto', sans-serif;
}

/*Colores*/
@color1: #81F7F3;
@color2: #088A68;
@color3: #A9F5A9;
@color4: #F3F781;
@color5: #FAAC58;
@rojo: red;
@grisClaro: #F2F2F2;

@bgLogin: '../img/backgroundLogin.jpg';
@bgNav: '../img/bgNav.jpg';
@bgPie: white;