body[layout="home"]{
	background: @grisClaro;
	@altoPie: 60px;
	background: url("../img/background.png") no-repeat right bottom;
	background-size: cover;
	
	nav.navbar-fixed-top{
		.degradado(@verde1, @verde2);
	}
	
	#home{
		text-align: center;
		overflow-x: hidden;
		
		& .container{
			padding-top: 60px;
		}
	}
	
	@import "modulos/home.less";
	@import "modulos/orden.less";
}